<html>
<head>
    <title>PHPDocker.io Readme</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <style>
        * {
            line-height: 1.8em;
        }

        code {
            font-size: 1.2em;
            background: #f4f4f4;
            border: 1px solid #ddd;
            color: #111;
            font-family: monospace;
            padding: 3px;
        }

        pre code {
            border-left: 3px solid #f36d33;
            page-break-inside: avoid;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word;
        }
    </style>
</head>
<body>

<div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24">
        {% autoescape false %}{{ text }}{% endautoescape %}
    </div>
    <div class="pure-u-1-24"></div>
</div>

<script>
  var tables = document.getElementsByTagName('table')
  for (var i = 0; i < tables.length; i++) {
    tables[i].className = 'pure-table'
  }
</script>
</body>
</html>
