###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

old/var/*
old/web/bundles/
old/web/css
old/web/js
.idea
src/AppBundle/Resources/public/vendor/*

bin/mkcert
