default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DefaultContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'config/behat_bootstrap.php'
        Behat\MinkExtension:
            show_cmd: 'firefox %s'
            sessions:
                symfony:
                    symfony: ~
