parameters:
  paths:
    - bin/
    - config/
    - public/
    - src/
    - tests/

  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message#'
    - '#Method App\\PHPDocker\\Project\\ServiceOptions\\Postgres::getChoices\(\) should return array<string, string> but returns array<int\|string, string>#'
