<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.1" />
    </php>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <!-- Reports -->
    <logging>
        <log type="coverage-html" target="reports/phpunit" lowUpperBound="85" highLowerBound="90" />
        <log type="coverage-clover" target="reports/phpunit/coverage.xml" lowUpperBound="85" highLowerBound="90" />

        <!-- For infection -->
        <log type="coverage-xml" target="reports/infection/coverage-xml"/>
        <log type="junit" target="reports/infection/phpunit.junit.xml"/>
    </logging>
</phpunit>
