{% extends 'layout.html.twig' %}

{% set activePage = 'contact' %}
{% block pageTitle %} - Contact{% endblock %}

{% block body %}
    <div class="row content-block col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="row text-center header">
            <h2>Contact</h2>
            <hr/>
            <p>Thank you, any feedback is greatly appreciated. </p>
            <p>If you provided with an email address, I will try to reply as soon as I can.</p>
        </div>
    </div>
{% endblock %}
