/***** Main styles *****/

body {
    font-family : "Hind", sans-serif;
    font-size   : 1.8em;
}

body, html {
    height : 100%;
}

#wrap {
    min-height : calc(100% - 55px);
}

a {
    color       : #df1c0d;
    font-weight : bold !important;
}

hr {
    border-color : #df1c0d;
    width        : 90%;
}

h1, h2, h3, h4, h5 {
    font-weight : bold;
}

.shadow {
    -webkit-box-shadow : 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow    : 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow         : 0 6px 12px rgba(0, 0, 0, .175);
}

.inner-shadow-top {
    -moz-box-shadow    : inset 0 5px 10px 0 #000;
    -webkit-box-shadow : inset 0 5px 10px 0 #000;
    box-shadow         : inset 0 5px 10px 0 #000;
}

.inner-shadow-bottom {
    -moz-box-shadow    : inset 0 -5px 10px 0 #000;
    -webkit-box-shadow : inset 0 -5px 10px 0 #000;
    box-shadow         : inset 0 -5px 10px 0 #000;
}

h3 {
    display : block;
}

/***** Section *****/

section {
    padding : 0.5em 0;
}

section#content {
    padding : 1.5em !important;
}

/***** Header *****/
section#header {
    border-radius    : 0;
    margin-bottom    : 0;
    padding-top      : 0.5em;
    padding-bottom   : 0.5em;
    padding-left     : 1.5em;
    text-shadow      : 2px 2px 6px rgba(0, 0, 0, .7);
    background-color : rgba(0, 0, 0, 0.64);
    border-color     : transparent;
}

#header a h1 {
    color       : #fff;
    font-weight : 900;
    font-size   : 32px;
}

#header p {
    color : #fff;
}

/***** Footer *****/

footer {
    padding-top      : 1em;
    padding-bottom   : 1em;
    background-color : rgba(0, 0, 0, 0.7);
    height           : 55px;
}

footer .copyright,
footer a {
    text-shadow : 2px 2px 6px rgba(0, 0, 0, .7);
}

footer a {
    color : white !important;
}

footer a:hover {
    cursor          : pointer;
    text-decoration : none;
}

footer .share {
    text-align : right;
}

footer .github-link {
    margin-left : 1em;
}

/***** Forms *****/

form input[type=submit] {
}

form .group {
    border         : 2px #444 solid;
    border-radius  : 5px;
    padding-bottom : 10px;
    margin-bottom  : 1em;
}

form .group .note {
    font-style   : italic;
    font-size    : 0.8em;
    display      : block;
    clear        : both;
    padding-left : 15px;
}

form .group h2 {
    margin : 0 0 1em 0;
}

form .group h3 {
    margin           : -15px -15px 15px -15px;
    background-color : #444;
    padding          : 0.5em;
    color            : white;
}

form .group h3:first-of-type {
    margin-top : 0 !important;
}

form .form-group {
    min-height : 2em;
}

.multiselect-container.dropdown-menu {
    z-index    : 10;
    box-shadow : none;
    width      : 100%;
    position   : relative;
}

.disabled {
    color      : #666;
    font-style : italic;
    display    : none;
}

label {
    font-size : 0.9em;
}

option:disabled {
    background-color : #ccc;
    font-style       : italic;
}

/***** Buttons *****/

.button-custom {
    border-radius         : 0;
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    -webkit-transition    : all 0.5s ease-in-out;
    -moz-transition       : all 0.5s ease-in-out;
    -o-transition         : all 0.5s ease-in-out;
    transition            : all 0.5s ease-in-out;
    margin                : 5px;
}

.btn-custom-three {
    color            : #fff;
    background-color : #777777;
    border           : 2px solid #4c4c4c;
    font-size        : 1em;
    font-weight      : bold;
    padding          : 0.5em;
}

.btn-custom-three:hover {
    border           : 2px solid black;
    text-decoration  : none;
    color            : #fff;
    background-color : #4c4c4c;
}
