/***** Media queries *****/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
    form .group {
        border : 0 !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {
}

/***** Custom footer *****/
@media only screen and (max-width : 736px) {
    #wrap {
        min-height : calc(100% - 80px);
    }

    footer {
        height : 80px;
    }

    footer .copyright {
        text-align : center;
    }
}
