# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Database
    database_host:     phpdocker-io-mysql
    database_port:     null
    database_name:     phpdockerio
    database_user:     username
    database_password: password
    database_version:  5.7

    # Email config
    mailer_transport: smtp
    mailer_host: phpdocker-io-mailhog
    mailer_port: 1025
    mailer_user: null
    mailer_password: null

    # Third party services
    google_analytics:  foo
    recaptcha_site_key:   lalalala
    recaptcha_secret_key: lerelelele
