# This file contains the right config already for the app to be run from the bundled dev-env,
# you should be able to copy to parameters.yml and off you go
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Database
    database_host:     phpdocker-io-mysql
    database_port:     null
    database_name:     phpdockerio
    database_user:     username
    database_password: password
    database_version:  5.7

    # Email config
    mailer_transport: smtp
    mailer_host:      phpdocker-io-mailhog
    mailer_port:      1025
    mailer_user:      null
    mailer_password:  null

    # Third party services
    google_analytics:     foo
    recaptcha_site_key:   lalalala
    recaptcha_secret_key: lerelelele

    # Admin user (password: password)
    admin_user_name:     luis
    admin_user_password: $2y$12$jS7zyap2VzijFYr8fWn5WuoHrfZMdPzmfTuVUFJ7NAkQb.ZZc6VLm
