{% extends 'AppBundle::layout.html.twig' %}

{% block isHomeActive %}active{% endblock %}
{% block pageTitle %} - News{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-lg-5 col-lg-offset-1 col-md-6">
            <div class="content-block">
                <div class="row text-center header">
                    <h2>News</h2>
                    <hr/>
                </div>
                {% include "AppBundle:Post:posts.html.twig" %}
            </div>
        </div>

        <div class="col col-lg-5 col-md-6">
            <div class="content-block">
                <div class="row text-center header">
                    <h2>What is PHPDocker.io?</h2>
                    <hr/>
                </div>

                <p>PHPDocker.io is a tool that will help you build a typical PHP environment based on Docker with
                    just a few clicks. </p>
                <p>It will also generate a suitable Vagrantfile for use on systems which do not support Docker and
                    containers natively. </p>
                <p>Why Docker? Containers are typically faster to set up, less prone to provisioning errors
                    (pre-setup images), and last but not least, web app deployment is going the way of the
                    container.</p>

                <p>This a first, early feeler prototype. Features to come:</p>
                <ul>
                    <li>HHVM</li>
                    <li>PostgreSQL</li>
                    <li>Elasticsearch</li>
                    <li>RabbitMQ</li>
                    <li>Blackfire profiler</li>
                    <li>Tideways profiler</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

