{% for post in posts %}
    <div class="post">
        <h3>{{ post.getTitle() }}</h3>
        <div class="data">{{ post.getCreatedAt()|date("F jS \\a\\t g:ia") }}</div>
        <div class="body">
            {{ post.getBody()|truncate(350) }}
        </div>
        <div class="comment-count">
            ({{ post.getCountPostComments() }}) comment(s)
        </div>
    </div>
{% endfor %}
