/***** Main styles *****/

body {
    font-family : Ubuntu, sans-serif;
}

body.clear {
    background-color : #c0c0bb;
    color            : black;
}

body.darker {
    background-color : #a7a7a2;
    color            : black;
}

.dark-background {
    background-color : #761c19 !important;
    color            : white;
}

a {
    color       : #c3323e;
    font-weight : bold !important;
}

.shadow {
    -webkit-box-shadow : 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow    : 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow         : 0 6px 12px rgba(0, 0, 0, .175);
}

/***** Header *****/

.header {
    font-family    : 'Oswald', sans-serif;
    padding-bottom : 40px;
    text-transform : uppercase;
}

.header hr {
    width      : 50px;
    border-top : 2px solid rgb(228, 79, 79);
}

.header h1 {
    font-family : "Shadows Into Light", sans-serif;
}

.header h1 a {
    color     : antiquewhite;
    font-size : larger;
}

.beta {
    font-family : "Shadows Into Light", sans-serif;
}

h3 {
    display : block;
}

.header {
    padding-bottom : 10px !important;
}

/***** Navigation *****/

.navbar-nav li a {
    text-transform : uppercase;
    transition     : color 1s, box-shadow 1s;
    padding-left   : 0.4em !important;
    padding-right  : 0.4em !important;
    border-radius  : 4px;
    margin-right   : 1em !important;
    margin-left    : 1em !important;
}

.navbar-nav li a:hover {
    color      : #ff9b26 !important;
    transition : color 1s, box-shadow 1s;
    box-shadow : 0 0 5px #ff9b26;
}

.navbar-inverse {
    background-color : rgba(0, 0, 0, 0.4);
    border-color     : transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color : transparent;
    border-bottom    : 1px solid rgb(228, 79, 79);
}

.navbar-inverse .navbar-nav > li > a {
    font-size      : 12px;
    font-weight    : 800;
    padding        : 5px 0px;
    letter-spacing : 2px;
    margin         : 10px 20px 10px 20px;
    color          : #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
    color       : #fff;
    font-weight : 900;
}

#navbar-button {
    background-color : #707070;
    color            : #f8f8f8;
    border           : 2px #3a3a3a solid;
    border-radius    : 0;
}

/***** Section *****/

section {
    padding-top : 80px;
}

section#content {
    margin-bottom : 40px;
}

/***** Footer *****/

.footer {
    margin-top       : 1em;
    padding-top      : 1em;
    padding-bottom   : 1em;
    background-color : rgba(0, 0, 0, 0.7);
    position         : fixed;
    bottom           : 0;
    color            : #c9c9c9;
    z-index          : 100;
    font-weight      : bold;
}

/***** Boxes *****/

.pretty {
    background-color      : rgba(255, 255, 255, 0.2);
    padding               : 20px;
    border-radius         : 5px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    margin                : 0 5px 40px 5px;
    min-height            : 200px;
}

.pretty.yellow {
    background-color : #c1aa87;
    color            : black;
}

/***** Forms *****/

form input[type=submit] {
    margin    : 1em;
    font-size : 1.2em;
}

.multiselect-container.dropdown-menu {
    z-index    : 10;
    box-shadow : none;
    width      : 100%;
    position   : relative;
}

#contact textarea {
    height : 10em;
}

#recaptcha-container {
    padding-top              : 1em;
    transform                : scale(0.7);
    -webkit-transform        : scale(0.7);
    transform-origin         : 0 0;
    -webkit-transform-origin : 0 0;
}

.disabled {
    color      : #666;
    font-style : italic;
    display    : none;
}

.form-group {
    margin : 2em 0 !important;
}

label {
    font-size : 1.1em;
}

/***** Buttons *****/

.button-custom {
    border-radius         : 0px;
    -webkit-border-radius : 0px;
    -moz-border-radius    : 0px;
    -webkit-transition    : all 0.5s ease-in-out;
    -moz-transition       : all 0.5s ease-in-out;
    -o-transition         : all 0.5s ease-in-out;
    transition            : all 0.5s ease-in-out;
    margin                : 5px;
}

.btn-custom-three {
    color            : #fff;
    background-color : #7c7c77;
    border           : 2px solid #4c4c4c;
}

.btn-custom-three:hover {
    border           : 2px solid black;
    text-decoration  : none;
    color            : #fff;
    background-color : #4c4c4c;
}

/***** Posts *****/

.post h1 {
    margin-top : 0;
    font-size  : 1.5em;
}

.comments h2 {
    margin-top  : 0;
    font-size   : 1.2em;
    font-weight : bold;
}

.posts dt {
    font-size   : larger;
    font-weight : bold;
}

.post .date {
    font-style : italic;
}

.post .body {
    margin-top : 1em;
}

.post .comment-count {
    text-align : right;
}
