@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.dark-background {
    background-color : #761c19 !important;
    color            : white;
}

body {
    font-family : Montserrat, sans-serif;
}

body.bob {
    background-color : #cf9a60;
    color            : black;
}

.header h1 {
    font-family : Shadows Into Light, sans-serif;
}

.beta {
    font-family : Shadows Into Light, sans-serif;
}

.header h1 a {
    color     : antiquewhite;
    font-size : larger;
}

.shadow {
    -webkit-box-shadow : 0 15px 10px #777;
    -moz-box-shadow    : 0 15px 10px #777;
    box-shadow         : 0 0 10px #000;
}

.disabled {
    color      : #999;
    font-style : italic;
}

.form-group {
}

.navbar-nav li a {
    text-transform : uppercase;
}

.footer {
    margin-top       : 1em;
    padding          : 1em;
    background-color : rgba(0, 0, 0, 0.4);
}
