@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.dark-background {
    background-color : #761c19 !important;
    color            : white;
}

body {
    font-family : Ubuntu, sans-serif;
}

body.clear {
    background-color : #c0c0bb;
    color            : black;
}

body.darker {
    background-color : #7c7c77;
    color            : black;
}

.header h1 {
    font-family : "Shadows Into Light", sans-serif;
}

.beta {
    font-family : "Shadows Into Light", sans-serif;
}

a {
    color       : #c3323e;
    font-weight : bold !important;
}

h3 {
    display : block;
}

.header h1 a {
    color     : antiquewhite;
    font-size : larger;
}

.shadow {
    -webkit-box-shadow : 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow    : 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow         : 0 6px 12px rgba(0, 0, 0, .175);
}

.disabled {
    color      : #666;
    font-style : italic;
    display    : none;
}

.form-group {
    margin : 2em 0 !important;
}

label {
    font-size : 1.1em;
}

.navbar-nav li a {
    text-transform : uppercase;
    transition     : color 1s, box-shadow 1s;
    padding-left   : 0.4em !important;
    padding-right  : 0.4em !important;
    border-radius  : 4px;
    margin-right   : 1em !important;
    margin-left    : 1em !important;
}

.navbar-nav li a:hover {
    color      : #ff9b26 !important;
    transition : color 1s, box-shadow 1s;
    box-shadow : 0 0 5px #ff9b26;
}

section#content {
}

.footer {
    margin-top       : 1em;
    padding-top      : 1em;
    padding-bottom   : 1em;
    background-color : rgba(0, 0, 0, 0.7);
    position         : fixed;
    bottom           : 0;
    color            : #c9c9c9;
    z-index          : 100;
    font-weight      : bold;
}

.pretty {
    background-color      : rgba(255, 255, 255, 0.2);
    padding               : 20px;
    border-radius         : 5px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    margin-bottom         : 40px;
    min-height            : 200px;
}

.pretty.yellow {
    background-color : #c1aa87;
    color            : black;
}

.btn-custom-three {
    color            : #fff;
    background-color : #7c7c77;
    border           : 2px solid #4c4c4c;
}

.btn-custom-three:hover {
    border           : 2px solid black;
    text-decoration  : none;
    color            : #fff;
    background-color : #4c4c4c;
}

.multiselect-container.dropdown-menu {
    z-index    : 10;
    box-shadow : none;
    width      : 100%;
    position   : relative;
}

.header {
    padding-bottom : 10px !important;
}

form input[type=submit] {
    margin    : 1em;
    font-size : 1.2em;
}


