body {
    overflow-y: scroll;
}

.navbar {
    margin-bottom: 0;
}

.beta {
    font-family : "Shadows Into Light", sans-serif;
}

.jumbotron p {
    font-size: 17px;
}

.post-jumbotron h2 {
    margin-top: 0;
}

.config-row {
    margin: 25px;
}

.config-row .config-row-inner {
    margin-top: 15px;
}

.multiselect-container.dropdown-menu {
    position: relative;
    box-shadow: none;
}

.btn-group .dropdown-toggle.btn-default~.dropdown-menu {
    background: #fff;
}

.disabled {
    display: none;
}